body {
  width: 720px;
  margin: 0 auto;
  font-family: "Helvetica";
}

a {
  text-decoration: none;
  color: #337AB7;
}

h3, h4 {
  margin: 0;
}

p {
  margin: 0px 0px 16px 0px;
}

#url {
  width: 100%;
}

#payload {
  width: 100%;
  resize: vertical;
}

#short-link-div {
  padding: 5px;
  border: 1px solid #ccc;
  background: #F5F5F5;
  margin: 20px 120px;
}

.link {
  text-decoration: none;
  color: #337AB7;
  cursor: pointer;
}

.link:hover {
  color: #23527c;
}

.form-group {
  font-size: 19px;
  display: table;
  width: 100%;
  margin-bottom: 8px;
}
.form-label {
  float: left;
  width: 110px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}
.form-label-extra {
  font-size: 9px;
  color: #444;
  display:block;
}
.form-field {
  float: right;
  width: 480px;
  margin-right: 120px;
  display: inline-block;
}

.btn {
  border: 1px solid #333;
  border-radius: 3px;
  background: #fff;
  font-size: 16px;
}
