<html>
  <head>
  </head>
  <body>
    <form action="/create" method="post">
      <div>
        <label for="url">Url:</label>
        <input type="url" id="url" name="url"/>
      </div>
      <div>
        <label for="trackingId">Tracking ID:</label>
        <input type="text" id="trackingId" name="trackingId"/>
      </div>
      <div>
        <label for="hitType">HitType:</label>
        <input type="text" id="hitType" name="hitType"/>
      </div>
      <div>
        <label for="eventCategory">EventCategory:</label>
        <input type="text" id="eventCategory" name="eventCategory"/>
      </div>
      <div>
        <label for="eventAction">EventAction:</label>
        <input type="text" id="eventAction" name="eventAction"/>
      </div>
      <div>
        <label for="eventLabel">EventLabel:</label>
        <input type="text" id="eventLabel" name="eventLabel"/>
      </div>
      <div>
        <label for="eventValue">EventValue:</label>
        <input type="text" id="eventValue" name="eventValue"/>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </body>
</html>
